#main{
    padding: 1rem 0rem 0rem 2rem;
    font-family: "Microsoft JhengHei";
    margin-right: 1rem;
}

#main-product{
  padding: 1rem 0rem 0rem 2rem;
  font-family: "Microsoft JhengHei";
  margin-right: 1rem;
  color: #000;
}

#main-top{
  /* height: 45vh; */

}

#main-down{
  height: 45vh;
  max-height: 45vh;
  overflow-y: auto;
}

#fb-comments .table h6{
  display: -webkit-box;  
  max-width: 100px;
overflow:hidden;
text-overflow : ellipsis;
-webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  
}

#main-top  .input-group{
    height:6vh;
}
/*  backend iframe */
#ifrFB{
  position: relative;
  padding-top:40vh;
  height: 0;
  overflow: hidden;
  
  /* margin-bottom:-90%;
  margin-top:10%;  */
}
#main-top iframe{
  border:none;
  min-height: 40vh;
  max-height: 40vh;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;

  /* max-width: 60%; 
  left:18.8%; */
}

/* 偷改一些樣式 */
#time_start,#croDiv.btn-outline-secondary{
  border: 1px solid #ced4da;
}
#main-top .input-group:not(:last-child){
  margin-bottom: 2.5vh;
}


.bid-list{
    width: 100%;
    max-height: 45vh;
    overflow-y:auto;
}

tfoot .input-group input{
    padding-right: 5rem;
}



#fb-comments{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

#fb-comments .table tfoot .col-md-1 img {
    width: 3rem;
}

#fb-comments .table tfoot input{
    margin-left: 2rem;
    border-radius: 10px; 
}

#fb-comments .table small{
    display: -webkit-box;  
	overflow:hidden;
	text-overflow : ellipsis;
	-webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    
}

#fb-comments .table tr td:nth-child(2) i{
    float: right;
}
#fb-comments .table{
    margin-bottom: -1.8rem;
}

#fb-comments .table tbody{
    height:74.5VH;
    overflow-y: auto;
    display: block;
    width: 100%;
}


#fb-comments .table tbody tr td:nth-child(1){
    width: 10%;
}

#fb-comments .table tbody tr td:nth-child(2){
  width: 70%;
}

#fb-comments .table tbody tr td:nth-child(3){
  width: 20%;
}

#fb-comments .table tfoot{
    height:10.5VH;
   display:relative
}

#comment-component{
    border-top-right-radius: 0.55rem;
    border-bottom-right-radius: 0.55rem;
   
}

#comment-component button{
    margin: 0;
}

#comment-message{
    border-right: 0;
}

#comment_icon{
  position: absolute;
  right:  30px;
  top: 5px;
  z-index: 999;
}
#bid-list-iformation img{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
 
}

#bid-list-iformation a{
    display: -webkit-flex;
    display: flex;  
}

#content{
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#content_shop{
  width: 100%;
  height: 100vh;
  overflow: auto;
}

#fan-group div{
    padding-right: 0.8rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-right: 1.8rem;
}

#fan-group img{
   height: 5rem;
   width: 5rem;
}

#activity::after{
    background:black ; 
    background-size: cover;
    z-index: 800;
    top: 0px;
    left: 0px; 
    opacity: 0.75;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    content: "";
}
#activity{
    position: absolute;
    z-index: 900;
    
}
#activity .card{
    margin-top:3rem;
    position: relative;
    padding:0;
    z-index: 900;
}
#activity .card .card{
    margin-top:0rem;
}

#web-set i{
    font-size: 3rem;
}

#web-set i:hover{
    color: rgb(190, 180, 243)
}
#web-set .media strong{
    font-size: 1rem;    
}

#web-set .media button{
    margin-top: -1.2rem;
}


#log_in img{
  width: 10rem;
}


#gray_bg {

  background: #FFFFFF;
  transition: all 0.3s; 
  position: relative;
  height: 100vh;
}

#gray_bg:after {
  background-image: url(../img/sea.jpg) ; /* 導覽列背景圖片 */
  background-size: cover;
  top: 0px;
  left: 0px; 
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  content: "";
}

#gray_bg .card{
  position: relative;
  z-index: 500;
  margin-top: 10rem;
}
#gray_bg .login{
  position: relative;
  z-index: 500;
  margin-top: 10rem;
}

#dtProduct td , #dtProduct {
  vertical-align: middle !important;
  text-align: center;
}

#dtAccount ,#dtAccount tr td{
  text-align: center;
  vertical-align: middle;
}

.col-pull-12 {
    right: 100%;
  }
  .col-pull-11 {
    right: 91.66666667%;
  }
  .col-pull-10 {
    right: 83.33333333%;
  }
  .col-pull-9 {
    right: 75%;
  }
  .col-pull-8 {
    right: 66.66666667%;
  }
  .col-pull-7 {
    right: 58.33333333%;
  }
  .col-pull-6 {
    right: 50%;
  }
  .col-pull-5 {
    right: 41.66666667%;
  }
  .col-pull-4 {
    right: 33.33333333%;
  }
  .col-pull-3 {
    right: 25%;
  }
  .col-pull-2 {
    right: 16.66666667%;
  }
  .col-pull-1 {
    right: 8.33333333%;
  }
  .col-pull-0 {
    right: auto;
  }
  .col-push-12 {
    left: 100%;
  }
  .col-push-11 {
    left: 91.66666667%;
  }
  .col-push-10 {
    left: 83.33333333%;
  }
  .col-push-9 {
    left: 75%;
  }
  .col-push-8 {
    left: 66.66666667%;
  }
  .col-push-7 {
    left: 58.33333333%;
  }
  .col-push-6 {
    left: 50%;
  }
  .col-push-5 {
    left: 41.66666667%;
  }
  .col-push-4 {
    left: 33.33333333%;
  }
  .col-push-3 {
    left: 25%;
  }
  .col-push-2 {
    left: 16.66666667%;
  }
  .col-push-1 {
    left: 8.33333333%;
  }
  .col-push-0 {
    left: auto;
  }
  .col-offset-12 {
    margin-left: 100%;
  }
  .col-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-offset-9 {
    margin-left: 75%;
  }
  .col-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-offset-6 {
    margin-left: 50%;
  }
  .col-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-offset-3 {
    margin-left: 25%;
  }
  .col-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-offset-0 {
    margin-left: 0;
  }

  .tooltip {
      -moz-transition: opacity 400ms ease-in;
      -webkit-transition: opacity 400ms ease-in;
      
    
  }

  .tooltip > .tooltip-inner {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #000;
  }

  .tooltip .arrow:before {
    border-top-color:#fff !important;
    }

.bg-gray{
  background-color: #e2e2e2 !important;
  padding: 1rem;
  vertical-align: middle !important;
  display: inline;
}
.bg-gray .dropdown{
  display: inline-block;
}

.now_page{
  color:#ff5722;
}

.l-lm-5{
  margin-left: -0.7rem;
}

.product-item{
  padding: 1rem 0rem 0rem 1rem;
}
#shop_product img{
  width: 100%;
}

#shop_product p{
  display: -webkit-box;  
	overflow:hidden;
	text-overflow : ellipsis;
	-webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.fixed-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}


#shop_product .col-md-2{
  background-color: white;
  padding-bottom: 1rem;
}

#shop_product .col-md-2 .col-md-12{
  padding-top:1rem;
}
#Order_Shop .table tbody tr td img{
  width: 50px;
}
#Order_Shop .table tbody tr td ,#Order_Shop .table tfoot tr td ,#Order_Shop .table thead tr th {
  text-align: center;
  vertical-align: middle !important;
}

#table_cart img{
  width: 50px;
}

#table_cart , #table_cart tr td{
  text-align: center;
  vertical-align: middle !important;
}
.carousel-item , .carousel-inner{
  max-height: 35vh;
  min-height: 35vh;
}

#ad_vdo{
  height: 35vh;
  width: auto;
}

.video_shoptxt{
  display: -webkit-box;  
	overflow:hidden;
	text-overflow : ellipsis;
	-webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video_list_item{
  overflow: hidden;
  border:none;
  height: 45vh;
  width: 100%;
}

#blah{
  border: 1px dashed rgb(145, 145, 145);
  background: rgb(243, 243, 243);
  height: 200px;
  width: 200px;
  display: table;
}

#imgInp{
  height: 100%;
  min-width: 100%;
  left: 0rem;
  position: absolute;
  background: red;
}

#product_upload_img{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.input-group-text-white{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.mh-on{
  -webkit-backface-visibility: hidden;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.9;
}


.mh-on:after {
  background: #FFFFFF;
  top: 0px;
  left: 0px; 
  position: absolute;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 200;
}

.editicon{
  position: absolute;
  z-index: 199;
  left: 12vh;
  top:40vh;
  vertical-align: middle !important;
  font-size: 1.25rem;
  font-weight: bolder;
  z-index: 210;
  
}
.editicon i{
  font-size: 5rem;
}
.editicon::after{
  background: #FFFFFF;
  top: 0px;
  left: 0px; 
  position: absolute;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 220;
}

.editicon_content{
  position: absolute;
  z-index: 199;
  left: 90vh;
  top:50vh;
  vertical-align: middle !important;
  font-size: 1.25rem;
  font-weight: bolder;
  z-index: 210;
}
.editicon_pic{
  position: absolute;
  z-index: 199;
  vertical-align: middle !important;
  font-size: 1.25rem;
  font-weight: bolder;
  z-index: 210;
}

.editicon_pic i{
  font-size: 5rem;
}
.pictureEdit_item{
  position: absolute;
  z-index: 199;
  vertical-align: middle !important;
  font-size: 1.25rem;
  font-weight: bolder;
  z-index: 210;
}
.pictureEdit_item i{
  font-size: 5rem;
}

.editicon_content i{
  font-size: 5rem;
}
.editicon_content::after{
  background: #FFFFFF;
  top: 0px;
  left: 0px; 
  position: absolute;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 220;
}

#navbar_page_shop #search-box{
  margin-top: 1rem;
}

.sw-100{
  min-width: 100% !important;
}

#product_mgnt_list .col-lg-2 .col-md-12 {
  padding-top: 1rem;
  min-height: 40vh;
}

#table_normal{
  text-align: center;
  margin-bottom: 2rem;
}

#table_normal tr td {
  vertical-align: middle;
}
#Upload_div{
  height: 200px;
  width: 200px;
}
#pictureEdit{
  height: 200px;
  width: 200px;
}
.imageBox {
  position: relative;
  height: 400px;
  width: 400px;
  border: 1px solid #aaa;
  background: #fff;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 143.7228px 254.1294px;
  background-position:flex;
  cursor: move;
  
}

.imageBox .thumbBox {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top:100px;
  margin-left:100px;
  box-sizing: border-box;
  border: 1px solid rgb(102, 102, 102);
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background: none repeat scroll 10% 0% transparent;
}



.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1020;
}

.activity_close{
  position: absolute;
  z-index: 2000;
  right: 0;
  top:0;
}

#activtiy-content{
  width: 500px;
}
.ajs-content .ajs-input{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} 

.ajs-ok{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.ajs-cancel{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.mr250{
  margin-left: 250px;
}

#blah:after{
  font-family: 'IcoFont' !important;
   content: "\f0a5點選新增商品";
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   color: #777777;
}

.warp_img{
  min-height: 18vh;
  max-height: 18vh;
}

.imgwarp_pro{
  height: 25rem; 
  background-repeat: no-repeat;
  background-size: cover; 
  background-size: 100%; 
  background-position: center ;
}

