/* 標題列CSS */

#content{
    margin-left: 250px;
}

#content.active {
    margin-left: 0;
}

.navbar-ft {
    padding: 5px 10px;
    background: rgb(231, 236, 234);
    border: none;
    border-radius: 0;
}

.navbar-sec {
    padding: 15px 10px;
    background: #EFF4F2;
    border: none;
    border-radius: 0;
}

.nav-item-shop a{
    color:#757575;
}

.nav-shop li{
    padding-right: 20px;
}
.dropdown-menu a{
    color:black;
    font-family: "Microsoft JhengHei";
}

.dropdown a img {
    width: 30px;
}

.Z_top{
    z-index: 99;
    position: relative;
}

.nav-shop h3 img{
    width: 50px;
}