/* 導覽列CSS  */
.sidebar_shadow {
    box-shadow: 0 0.0rem 1rem rgba(0, 0, 0, 0.9) !important;
}

#sidebar_shop {
    min-width: 250px;
    max-width: 250px;
    width: 250px;
    background: #fff;
    color: #fff;
    transition: all 0.3s; 
    position:fixed ;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: 100%;
}

#sidebar_shop:after {
    background-image: url(../img/圖片1.png) ; /* 導覽列背景圖片 */
    -webkit-filter:brightness(1.2);
    background-size: cover;
    top: 0px;
    left: 0px; 
    position: absolute;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    content: "";
}

#sidebar_shop .sidebar-header {
    padding: 20px;
    background: #fff;
    color: #000;
}

#sidebar_shop .sidebar-header img {
   width: 50px;
   z-index: 20  ;
   position: relative;
}

#sidebar_shop ul.components {
    padding:  10px 0px;
    border-bottom: 1px solid #47748b;
    border-bottom: 1px solid #3c3c3c;
    z-index: 10;
    position: relative;
}


#sidebar_shop ul.components p {
    font-family: "NotoSansCJKtc";
}

#sidebar_shop ul p {
    color: #000;
    padding: 10px;
}

#sidebar_shop ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:#000;
    font-family: "NotoSansCJKtc";
}

#sidebar_shop ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar_shop i {
    padding-right: 10px;
}

.LOGO{
    width: 50px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


a[data-toggle="collapse"] {
    position: relative;
    color:white;
}

#sidebar_shop.active {
    margin-left: -250px;
}

#sidebar_shop ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}